.App {
  text-align: center;

  padding: 10px;
}

ul {
  margin: 0;
}

li {
  text-align: left;
}

h6 {
  font-size: 13px;
  color: grey;
  margin-bottom: 12px;
}

[class*="col"] {
  margin-bottom: 20px;
}

.pagination{
  justify-content: center;
}